.container {
    width: 1300px;
    padding: 0 20px;
}
.main {
    width: 500px;
    margin-left: 150px;
    margin-bottom: 20px;
    margin-top: 90px;
    float: left;
}
.side {
    width: 500px;
    margin: 90px 0 0 60px;
    float: left;
}
.side .side-content {
    margin-bottom: 10px;
    overflow: hidden;
}